@import '../../style/variables';
@import '../../style/mixins';

.button {
  display: inline-flex;
  align-items: center;
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: all $trans-default;

  &:disabled,
  &__disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    background-color: darken($jade, 8%);;
  }

  @include active {
    background-color: darken($jade, 12%);
    opacity: 0.8;
  }

  &__iconTrash {
    width: 26px;
    height: 26px;
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: $white-25;
  }

  &__favorites {
    justify-content: space-between;
    width: 160px;
    background-color: $jade;
    color: $white;
  }

  &__back {
    column-gap: 8px;
    background-color: transparent;
    border: 1px solid $jade;
    color: inherit;

    @include hover-focus {
      background-color: $jade;
      color: $white;
    }

    @include active {
      background-color: darken($jade, 12%);
    }
  }

  &__card {
    column-gap: 8px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid $jade;

    @include hover-focus {
      background-color: $jade;
      color: $white;
    }

    @include active {
      background-color: darken($jade, 12%);
    }
  }

  &__tab {
    padding: 14px 30px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid $jade;
    color: inherit;

    @include hover-focus {
      background-color: darken($jade, 8%);
      color: $white;
    }

    @include active {
      background-color: darken($jade, 12%);
    }

    &.active {
      border: 1px solid transparent;
      background-color: $jade;
      color: $white;
    }
  }
}
