@import '../../style/variables';
@import '../../style/mixins';


.club {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-align: center;
  border: 1px solid $jade;
  border-radius: 30px;

  &__link {
    @include hover-focus {
      img {
        transform: scale(1.1);
      }
    }

    @include active {
      img {
        transform: scale(1);
      }
    }
  }

  &__image {
    transition: all $trans-default;
  }

  &__title {
    margin: 10px 0;
  }

  p {
    margin: 0 0 10px;
  }

  span {
    color: $jade;
  }
}

