@import '../../style/variables';
@import '../../style/mixins';

.favorite {
  padding-top: 40px;
  padding-bottom: 40px;

  &__container {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    padding: 0 40px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    margin: 0;

    svg {
      margin-right: 10px;
      width: 35px;
      height: 35px;
      color: $jade;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    span {
      font-size: 22px;
    }

    b {
      margin-left: 10px;
    }
  }
}
