@import '../../style/variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  font-family: $ff-montserrat;
  font-size: 16px;
  background: url('../assets/images/green-plastic-grass-textured-backdrop.jpg') center / cover no-repeat;
  padding: 2rem;
}

.content {
  padding: 40px 0;

  &__sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
  }

  &__clubs {
    grid-template-columns: repeat(4, 1fr);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
