*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: url('../assets/images/green-plastic-grass-textured-backdrop.jpg') center / cover no-repeat;
  padding: 2rem;
  text-align: center;
}
