@import '../../style/variables';

.wrapper {
  width: calc(100vw - 100px);
  min-height: calc(100vh - 160px);
  background-color: $white;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}
