// Project palette

$white:                   #ffffff;
$black:                   #000000;
$white-25:                rgba(255,255,255,0.25);
$jade:                    #00cc6f;
$suva-gray:               #8b8b8b;
$white-smoke:             #f6f6f6;
$cinnabar:                #e94242;

// Typography
// ---------------------------------

$ff-montserrat:           'Montserrat', 'Arial', sans-serif;

// Animation
// ---------------------------------

$tf-default:              ease;
$trans-default:           0.3s $tf-default;
$rotateDuration:          2.5s;
